ol.list-group.list-group-horizontal-md(id='order-list-container') 
    each val, index in data
        li(id='list-items')
            .card.border-warning.bg-secondary.text-white(id='card' style='width: 18rem;')
                if title === 'Characters'
                    a(data-bs-toggle='modal' data-bs-target='#dataModal'+index)
                        img.card-img-top.border-bottom.border-warning(src=val[1] alt='Star Wars Character')
                    .card-body.text-center
                        p.card-text
                            | #{val[0]}
                else if title === 'Memes'
                    a(data-bs-toggle='modal' data-bs-target='#memeModal'+index)
                        img.card-img-top(src=val[2] alt='Star Wars Meme')
                    .card-body.text-center
                        p.card-text
                            | #{val[1]}
                else if title === "Movies"
                    a(data-bs-toggle='modal' data-bs-target='#dataModal'+index)
                        img.card-img-top.border-bottom.border-warning(src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg")
                    .card-body.text-center
                        p.card-text
                            | #{val}
                else if title === "Starships"
                    a(data-bs-toggle='modal' data-bs-target='#dataModal'+index)
                        img.card-img-top.border-bottom.border-warning(src="https://scifiview.com/wp-content/uploads/2021/10/SW_20_ships.jpg")
                    .card-body.text-center
                        p.card-text
                            | #{val}
                else if title === "Planets"
                    a(data-bs-toggle='modal' data-bs-target='#dataModal'+index)
                        img.card-img-top.border-bottom.border-warning(src="http://www.psd-dude.com/tutorials/resources-images/planet-photoshop-stock-images-and-psd-files/high-res-water-planet-stock.jpg")
                    .card-body.text-center
                        p.card-text
                            | #{val}
                else 
                    a(data-bs-toggle='modal' data-bs-target='#dataModal'+index)
                        .card-body.text-center
                            p.card-text
                                | #{val}
        if title !== 'Memes'
            include modal.pug
        else 
            include memeModal.pug