.modal.fade(id=('dataModal'+index) tabindex='-1' aria-labelledby='dataModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content.bg-secondary.border-warning
      .modal-header.text-white.border-warning
        if title === 'Characters'
          h5#exampleModalLabel.modal-title #{val[0]}
        else
          h5#exampleModalLabel.modal-title #{val}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.text-white
        .card.bg-secondary
          if title === 'Characters'
            img.card-img-top.border-warning.character-img(src=val[1] alt='Star Wars Character')
            .card-body
              each val in extra[index] 
                p.card-text
                  | #{val} 
          else 
            .card-body
              each val in extra[index]
                p.card-text 
                  | #{val} 
      .modal-footer.border-warning
        button.btn.btn-light(type='button' data-bs-dismiss='modal') Close
//- https://stackoverflow.com/questions/59230116/how-to-get-modal-dialog-to-send-correct-object-in-pug-iteration